@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Overpass:wght@400;700&display=swap');

/*
My 11th attempted challenge on frontendmentor.io (HTML and CSS)

What I learned
1) Getting more familiar implementing multiple backgrounds

Continued development/Short falls:

1) Forgot to implement "hover states". My apologies.

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

*/
:root {
    --orange: hsl(25, 97%, 53%); /*Primary*/
    --white: hsl(0, 0%, 100%); /*Neutral*/
    --light-grey: hsl(217, 12%, 63%); /*Neutral*/
    --medium-grey: hsl(216, 12%, 54%); /*Neutral*/
    --dark-blue: hsl(213, 19%, 18%); /*Neutral*/
    --very-dark-blue: hsl(216, 12%, 8%); /*Neutral*/
      }
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    utline: 1px solid black;
}
html{
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    height:100%;
    width: 100%;
    font-family: "Overpass";
    }
body{
    background-color: var(--very-dark-blue);
}
main{
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center; 
    width:20rem;
    height: auto;
    background-color: var(--dark-blue);
    border-radius:1rem;
}
.rating-state{
    padding: 1rem 1rem;
    display: flex;
    flex-flow: column;
    gap:0.5rem;
}
.rating-state-header{
    display: flex;
    flex-flow: column;
    gap:1rem;
}
.star{
    background-color: hsl(240, 2%, 25%);
    width:1.5rem;
    height: 1.5rem;
    border-radius:50%;
    text-align: center;
}
.star-image{
    border-radius:50%;
    width:80%
}
.how{
    font-size: 1.4rem;
    color:var(--white);
}
.please{
    font-size: 0.8rem;
    color:var(--light-grey);
}
.form{
    display: flex;
    flex-flow: column;
    align-items: center; 
    gap:1rem;
}
.rating-div{
    font-size: 1rem;
    color:var(--light-grey);
    display: flex;
    flex-flow: row;
    gap:2rem;
}
input{
   display: none;
}
label{
    color: var(--light-grey);
    background-color: hsl(240, 2%, 25%);
    border-radius:50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.4rem;
}
label:hover{
    background-color: var(--orange);
    cursor: pointer;
}
button{
    width: 90%;
    font-size: 1rem;
    background-color: var(--orange);
    color:var(--white);
    border-radius:1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border: none;
}
button:hover{
    background-color: var(--white); 
    color:var(--orange);
    cursor: pointer;
}
.thankyou-state{
    padding: 1rem 1rem;
    display: flex;
    flex-flow: column;
    gap:1rem;
    justify-content: center; 
    align-items: center; 
}
.handset{
    width:40%
}
.result{
    font-size: 0.8rem;
    color:var(--orange);
    background-color: hsl(240, 2%, 25%);
    padding: 0.5rem 1rem;
    border-radius:1rem;
}
.thank{
    font-size: 1.4rem;
    color:var(--white);
}
.appreciate{
    font-size: 0.8rem;
    color:var(--light-grey);
}
footer { 
    text-align: center; 
    font-size: 0.7rem;
    color:var(--white);
}
footer a{
    color:var(--white);
}
.hide {
    display: none;
  }